body {
	box-sizing: border-box;
}
/* 스크롤바 가리기 */
/* ::-webkit-scrollbar {
        display: none;
    } */
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

li:hover {
	cursor: pointer;
	color: #212529;
	background-color: rgba(0, 0, 0, 0.3);
}

li.region {
	padding: 10px;
	margin: 0px auto;
	border-top: 1px solid gray;
}

li.theater {
	padding: 10px;
	margin: 0px auto;
	border-top: 1px solid gray;
}

li.movieTitle {
	padding: 20px;
	margin: 0px auto;
	border-top: 1px solid gray;
}

li.movieSchedule {
	padding: 15px;
	margin: 0px auto;
	border-bottom: 1px solid gray;
}

li.date {
	padding: 8px;
	margin: 0 auto;
	border-top: 1px solid gray;
}